<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <select v-model="selected">
            <option v-for="option in options" :value="option.value">{{ option.text }}</option>
        </select>
        {{ selected }}
    </div>

    <script>
        const app = new Vue({
            el: "#app",
            data: {
                selected: "J",
                options: [
                    {
                        text: "james", value: "J"
                    },
                    {
                        text: "tom", value: "T"
                    },
                    {
                        text: "alex", value: "A"
                    }
                ]
            }
        });
    </script>
</body>
</html>
